In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib_inline as plt

In [41]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import sys
print(sys.executable)

e:\AI engineer\Guvi\Capstone Projects\Project3\SmartPremium\venv\Scripts\python.exe

In [ ]:
data=pd.read_csv("E:/AI engineer/Guvi/Capstone Projects/Project3/fresh_clone/SmartPremium/data/train.csv")

In [93]:
data.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [94]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [95]:
data.isnull().sum()

id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [96]:
data.shape

(1200000, 21)

In [97]:
# Drop columns with more than 50% missing values
threshold = len(data) * 0.5
data = data.dropna(thresh=threshold, axis=1)
data.shape

(1200000, 21)

In [98]:
data.isnull().sum().reset_index()[data.isnull().sum().reset_index()[0] > 0] ["index"].to_list()

['Age',
 'Annual Income',
 'Marital Status',
 'Number of Dependents',
 'Occupation',
 'Health Score',
 'Previous Claims',
 'Vehicle Age',
 'Credit Score',
 'Insurance Duration',
 'Customer Feedback']

#### Imputations

Age

In [99]:
print(np.mean(data['Age']),data['Age'].median())

41.145563131986506 41.0

In [100]:
data['Age'].fillna(data['Age'].median(), inplace= True)

Annual Income

In [101]:
data[['Annual Income','Premium Amount']].corr()

                Annual Income  Premium Amount
Annual Income         1.00000        -0.01239
Premium Amount       -0.01239         1.00000

In [102]:
data[data['Annual Income'].isnull()].head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
22,22,22.0,Male,NaN,Divorced,4.0,PhD,NaN,25.583790,Urban,...,NaN,5.0,773.0,5.0,2021-10-09 15:21:39.258696,Good,Yes,Monthly,House,202.0
36,36,41.0,Female,NaN,Married,3.0,PhD,Self-Employed,14.001630,Urban,...,0.0,15.0,589.0,6.0,2023-03-01 15:21:39.149731,Average,No,Rarely,House,250.0
67,67,45.0,Male,NaN,Married,3.0,High School,Self-Employed,17.988631,Suburban,...,NaN,18.0,375.0,9.0,2022-05-25 15:21:39.237118,Average,Yes,Rarely,House,829.0
86,86,37.0,Male,NaN,Single,1.0,Bachelor's,NaN,13.038269,Suburban,...,NaN,6.0,562.0,2.0,2023-02-02 15:21:39.237118,Average,No,Weekly,House,61.0
87,87,52.0,Male,NaN,Married,2.0,PhD,Unemployed,28.864410,Rural,...,0.0,18.0,488.0,1.0,2021-02-13 15:21:39.172097,Average,No,Weekly,Apartment,369.0

In [103]:
print(np.mean(data['Annual Income']),np.median(data['Annual Income']),data['Annual Income'].median())

32745.21777653108 nan 23911.0

In [104]:
data['Annual Income'].fillna(data['Annual Income'].median(), inplace= True)

'Marital Status'

In [105]:
print(data['Marital Status'].value_counts())
print("===========")
print(data['Marital Status'].isnull().sum())

Marital Status
Single      395391
Married     394316
Divorced    391764
Name: count, dtype: int64
===========
18529

In [106]:
data['Marital Status'].mode()[0]

'Single'

In [107]:
data['Marital Status'].fillna(data['Marital Status'].mode()[0], inplace= True)

Number of Dependents

In [108]:
print(data['Number of Dependents'].value_counts())
print("======Mode=====")
print(data['Number of Dependents'].mode()[0])
print("======No of mising values=====")
print(data['Number of Dependents'].isnull().sum())

Number of Dependents
3.0    221475
4.0    220340
0.0    218124
2.0    215313
1.0    215076
Name: count, dtype: int64
======Mode=====
3.0
======No of mising values=====
109672

In [109]:
data['Number of Dependents'].fillna(data['Number of Dependents'].mode()[0], inplace= True)

Modularising Imputations

In [110]:
def imputations():
    numerical_features,categorical_features=[],[]
    columns_with_nulls=data.isnull().sum().reset_index()[data.isnull().sum().reset_index()[0] > 0] ["index"].to_list()
    print("Columns with null values\n",columns_with_nulls)
    print("===========")
    print("dtype of each columns")
    for i in columns_with_nulls:
      print(i, data[i].dtype)
      if data[i].dtype == 'object':
        categorical_features.append(i)
      else:
        numerical_features.append(i)
    print("===========")
    print("Numerical columns List:- ",numerical_features,len(numerical_features),sep="\n")
    print("===========")
    print("Categorical columns List:- ",categorical_features,len(categorical_features),sep="\n")

    #impute non-series data

    # Impute numerical features with median
    for feature in numerical_features:
        data[feature].fillna(data[feature].median(), inplace=True)

    # Impute categorical features with mode
    for feature in categorical_features:
        data[feature].fillna(data[feature].mode()[0], inplace=True)
    
    print("=====Columns with Null values======")
    columns_with_nulls=data.isnull().sum().reset_index()[data.isnull().sum().reset_index()[0] > 0] ["index"].to_list()
    print("Columns with null values\n",columns_with_nulls)


imputations()

Columns with null values
 ['Occupation', 'Health Score', 'Previous Claims', 'Vehicle Age', 'Credit Score', 'Insurance Duration', 'Customer Feedback']
===========
dtype of each columns
Occupation object
Health Score float64
Previous Claims float64
Vehicle Age float64
Credit Score float64
Insurance Duration float64
Customer Feedback object
===========
Numerical columns List:-
['Health Score', 'Previous Claims', 'Vehicle Age', 'Credit Score', 'Insurance Duration']
5
===========
Categorical columns List:-
['Occupation', 'Customer Feedback']
2
=====Columns with Null values======
Columns with null values
 []